extends ../structure

block head
	script(src='dev/node_modules/jquery/dist/jquery.min.js')
	link(href="css/style.css" rel="stylesheet")
	
block header
	head App

block content
	include partials/content